footer(class="bg-primary")
  div(class="container text-center")
    p Sofie Monitor is open source and MIT licensed software. See 
      a(href="https://github.com/nrkno/sofie-monitor" class="text-muted") Github
      |  for details
